{% extends "base.html" %}


{% block title %}
My Profile - TaskFlow
{% endblock %}


{% block content %}

<div class="profile-container">

    <div class="profile-header">

        <h1>
            My Profile
        </h1>

        <p>
            Manage your TaskFlow account.
        </p>

    </div>


    <div class="profile-card">

        <form method="POST">

            {% csrf_token %}


            <div class="profile-form">

                {{ form.as_p }}

            </div>


            <div class="profile-actions">

    <button
        type="submit"
        class="btn-primary"
    >
        Save Changes
    </button>


    <a
        href="{% url 'change_password' %}"
        class="btn-secondary"
    >
        Change Password
    </a>


    <a
        href="{% url 'dashboard' %}"
        class="btn-secondary"
    >
        Cancel
    </a>

</div>

        </form>

    </div>

</div>

{% endblock %}